
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> About Us|| Jan Sahyog Charitable Trust </title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="assets/images/favicons/site.webmanifest" />
    <meta name="description" content="Sopot HTML Template For Charity" />

    <!-- fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="assets/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="assets/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="assets/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="assets/vendors/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="assets/vendors/nouislider/nouislider.pips.css" />
    <link rel="stylesheet" href="assets/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="assets/vendors/sopot-icons/style.css">
    <link rel="stylesheet" href="assets/vendors/tiny-slider/tiny-slider.min.css" />
    <link rel="stylesheet" href="assets/vendors/reey-font/stylesheet.css" />
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="assets/vendors/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="assets/vendors/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="assets/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="assets/vendors/timepicker/timePicker.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="assets/css/sopot.css" />
    <link rel="stylesheet" href="assets/css/sopot-responsive.css" />
</head>

<body>
    <div class="preloader">
        <img class="preloader__image" width="60" src="assets/images/loader.png" alt="" />
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
        <header class="main-header clearfix">
            <div class="main-header__top clearfix">
                <div class="container clearfix">
                    <div class="main-header__top-inner clearfix">
                        <div class="main-header__top-left">
                            <ul class="list-unstyled main-header__top-address">
                                <li>
                                    <div class="icon">
                                        <span class="icon-call"></span>
                                    </div>
                                    <div class="text">
                                        <p><a href="tel:5204654544">+91 9431901463</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-envelope"></span>
                                    </div>
                                    <div class="text">
                                        <p><a href="mailto:demo@example.com"> jscthazaribagh@gmail.com </a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-place"></span>
                                    </div>
                                    <div class="text">
                                        <p>
                                            Regd. Address - Navdiha, Mahavir Colony, Sindur, Hazaribagh, Pincode- 825301, Jharkhand
</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="main-header__top-right">
                            <ul class="list-unstyled main-header__top-right-content">
                                <li><a href="#">Login</a></li>
                                <li><a href="#">Help You</a></li>
                                <li><a href="#" class="search-toggler"> <i class="fa fa-search"></i> Search</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="main-menu clearfix">
                <div class="container clearfix">
                    <div class="main-menu-wrapper clearfix">
                        <div class="main-menu-wrapper__left">
                            <div class="main-menu-wrapper__logo">
                                <a href="index.html"><img src="assets/images/resources/logo-1.png" alt=""></a>
                            </div>
                        </div>
                        <div class="main-menu-wrapper__right">
                            <div class="main-menu-wrapper__main-menu">
                                <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                                <ul class="main-menu__list">
                                    <li class="dropdown current">
                                        <a href="index.html">Home</a>
                                        <!-- <ul>
                                            <li>
                                                <a href="index.html">Home One</a>
                                            </li>
                                            <li><a href="index2.html">Home Two</a></li>
                                            <li><a href="index3.html">Home Three</a></li>
                                            <li class="dropdown">
                                                <a href="#">Header Styles</a>
                                                <ul>
                                                    <li><a href="index.html">Header One</a></li>
                                                    <li><a href="index2.html">Header Two</a></li>
                                                    <li><a href="index3.html">Header Three</a></li>
                                                </ul>
                                            </li>
                                        </ul> -->
                                    </li>
                                    <li><a href="about.html">About</a></li>
                                    <!-- <li class="dropdown">
                                        <a href="#">Pages</a>
                                        <ul>
                                            <li><a href="team.html">Team</a></li>
                                            <li><a href="team-details.html">Team Details</a></li>
                                            <li><a href="projects.html">Project</a></li>
                                            <li><a href="project-details.html">Project Details</a></li>
                                            <li><a href="testimonials.html">Testimonial</a></li>
                                            <li><a href="gallery.html">Gallery</a></li>
                                            <li><a href="404.html">404 Error</a></li>
                                        </ul>
                                    </li> -->
                                    <li class="dropdown">
                                        <a href="#">Donation</a>
                                        <ul>
                                            
                                            
                                           
                                            <li><a href="donate-now.html">Donate Now</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="events.html">Events</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="blog-v-2.html">Blog</a>
                                       
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                            <a href="donate-now.html" class="thm-btn main-header__btn">Donate Now</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->

        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <h2>About us</h2>
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><span>/</span></li>
                        <li class="active">About</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Page Header End-->

     <!--About One Start-->
        <section class="about-one">
            <div class="container">
                <div class="row">
                    
                    <div class="col-xl-6">
                        <div class="about-one__right">
                            <div class="about-one__right-content">
                                <div class="section-title text-left">
                                    <span class="section-title__tagline">About Us</span>
                                    <h2 class="section-title__title">Together, We Can Transform Lives With Your Helping Hand</h2>
                                </div>
                               <div class="tab-section-jan-sahyog">
 

 <div class="jantrust-tab-section">
  <div class="jantrust-tabs">
    <button class="jantrust-tab-btn active" onclick="jantrustSwitchTab(event, 'jantrust-english')">English</button>
    <button class="jantrust-tab-btn" onclick="jantrustSwitchTab(event, 'jantrust-hindi')">हिन्दी</button>
  </div>

  <div class="jantrust-tab-content active" id="jantrust-english">
    <h2>INTRODUCTION:</h2>
    <p>
      Jan Sahyog Charitable Trust (NGO) registered under Trust Act 1882 with registration number: 2020/HAZ/222/BK4/14, having its registered office at- Near DC Karyalay, Hazaribagh- 825302, Jharkhand. Engaged in different social activities particularly for eradication of unemployment among youth especially women of the country by promoting through the skill training by the self-employment and help the poor girls at the time of marriage scheme particularly namely “Kanya Shringar Shagun Yojna”.
    </p>
  </div>

  <div class="jantrust-tab-content" id="jantrust-hindi">
    <h2>परिचय :</h2>
    <p>
      जन सहयोग चैरिटेबल ट्रस्ट (एनजीओ) ट्रस्ट अधिनियम 1882 के तहत पंजीकृत है, जिसका पंजीकरण संख्या: 2020/HAZ/222/BK4/14 है, हमारी संस्था विभिन्न सामाजिक विकास हेतु कार्य करती है, जिसमें विशेष रूप से बेरोजगारी उन्मूलन, महिला सशक्तिकरण एवं कौशल विकास, और साथ ही साथ हमारी संस्था समाज की गरीब बेटियों की शादी में भी सहायता प्रदान करती है। अभी वर्तमान में संस्था अपने योजना “कन्या श्रृंगार शगुन” के माध्यम से महिलाओं में सशक्तिकरण तथा गरीब बेटियों की शादी में सहायता प्रदान करने के अपने मंशा में मजबूती से लगी है, जिसमें अपने सदस्यों या समाज के अन्य जागरूक नागरिकों से चन्दा दान ले कर इसकी सहायता करती है।
    </p>
  </div>
</div>

</div>

                                <ul class="list-unstyled about-one__points">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-comment"></span>
                                        </div>
                                        <div class="text">
                                            <h4>Community Development & Support</h4>
                                            <p>We implement impactful projects focused on education, skill development, health awareness, and social empowerment to build stronger communities.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-comment"></span>
                                        </div>
                                        <div class="text">
                                            <h4>Empowering Through Education</h4>
                                            <p>Education is the foundation of progress. We support children and youth with quality learning opportunities, scholarships, and academic resources.

                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="about-one__bottom-video-box">
                                    <div class="about-one__btn-box">
                                        <a href="about.html" class="thm-btn about-one__btn">About More</a>
                                    </div>
                                    <div class="about-one__video-link">
                                        <a href="https://youtu.be/XgNuNv_VzGM?si=g3H5_4JEWDVkUDD7" class="video-popup">
                                            <div class="about-one__video-icon">
                                                <span class="fa fa-play"></span>
                                                <i class="ripple"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About One End-->



    
 
<div class="vm-container">
    <div class="vm-tabs">
      <button class="vm-tab-btn vm-tab-active" onclick="vmSwitchTab('vm-english', event)">English</button>
      <button class="vm-tab-btn" onclick="vmSwitchTab('vm-hindi', event)">हिन्दी</button>
    </div>

    <div class="vm-tab-content vm-tab-active" id="vm-english">
      <h2>Our Mission</h2>
      <ul>
        <li>To make Indian society unemployment-free through various self-employment schemes and skill training.</li>
        <li>To create awareness about government self-employment schemes for unemployed youth.</li>
        <li>To establish a support system that provides information, paperwork assistance, and funding advice.</li>
        <li>To launch programs for girl child empowerment and holistic development.</li>
        <li>To run awareness campaigns regarding the POSCO Act for child protection.</li>
      </ul>
      <h2>Our Vision</h2>
      <p>Our vision is to establish an unemployment-free, skilled, and crime-free society.</p>
    </div>

    <div class="vm-tab-content" id="vm-hindi">
      <h2>हमारा मिशन</h2>
      <ul>
        <li>देश के बेरोजगार युवाओं को स्वरोजगार योजनाओं और कौशल प्रशिक्षण द्वारा जोड़कर समाज को बेरोजगारी से मुक्त बनाना।</li>
        <li>केंद्र और राज्य सरकार की स्वरोजगार योजनाओं के बारे में बेरोजगार युवाओं को जागरूक करना।</li>
        <li>एक ऐसा तंत्र स्थापित करना जो दस्तावेज़ी मदद और वित्तीय सलाह प्रदान कर सके।</li>
        <li>बालिकाओं के सशक्तिकरण और विकास के लिए विशेष कार्यक्रमों की शुरुआत करना।</li>
        <li>बच्चों की सुरक्षा हेतु POSCO अधिनियम के प्रति जागरूकता अभियान चलाना।</li>
      </ul>
      <h2>हमारा विज़न</h2>
      <p>हमारा विज़न है एक बेरोजगारी मुक्त, कुशल और अपराध मुक्त समाज की स्थापना करना।</p>
    </div>
  </div>


       <!--Counter One Start-->
<section class="counter-one">
    <div class="counter-one-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%" style="background-image: url(assets/images/backgrounds/counter-one-bg.jpg);"></div>
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">Our Impact So Far</span>
            <h2 class="section-title__title">Creating Change, <br> Touching Lives Every Day</h2>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="100ms">
                <!--Counter One Single-->
                <div class="counter-one__single">
                    <div class="counter-one__content">
                        <h3 class="odometer" data-count="1200">00</h3>
                        <span class="counter-one__letter">+</span>
                        <p class="counter-one__text">Donations Received</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="200ms">
                <!--Counter One Single-->
                <div class="counter-one__single">
                    <div class="counter-one__content">
                        <h3 class="odometer" data-count="1500">00</h3>
                        <span class="counter-one__letter">+</span>
                        <p class="counter-one__text">Active Volunteers</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="300ms">
                <!--Counter One Single-->
                <div class="counter-one__single">
                    <div class="counter-one__content">
                        <h3 class="odometer" data-count="100">00</h3>
                        <span class="counter-one__letter">K+</span>
                        <p class="counter-one__text">Lives Impacted</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="400ms">
                <!--Counter One Single-->
                <div class="counter-one__single">
                    <div class="counter-one__content">
                        <h3 class="odometer" data-count="250">00</h3>
                        <span class="counter-one__letter">+</span>
                        <p class="counter-one__text">Projects Completed</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="counter-one__btn-box text-center">
                    <a href="about.html" class="thm-btn counter-one__btn">Learn More About Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Counter One End-->

        <!--Project One Start-->
        <section class="project-one">
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">Our Causes Events</span>
                    <h2 class="section-title__title">We Popular To Provide <br> Best Projects.</h2>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="100ms">
                        <!--Project One Single-->
                        <div class="project-one__single">
                            <div class="project-one__img">
                                <img src="assets/images/project/project-1-1.jpg" alt="">
                                <div class="project-one__content">
                                    <p class="project-one__sub-title">Our Best Projects</p>
                                    <h3 class="project-one__title"><a href="project-details.html">Event of Shares</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <!--Project One Single-->
                        <div class="project-one__single">
                            <div class="project-one__img">
                                <img src="assets/images/project/project-1-2.jpg" alt="">
                                <div class="project-one__content">
                                    <p class="project-one__sub-title">Our Best Projects</p>
                                    <h3 class="project-one__title"><a href="project-details.html">Provides them Poor</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!--Project One Single-->
                        <div class="project-one__single">
                            <div class="project-one__img">
                                <img src="assets/images/project/project-1-3.jpg" alt="">
                                <div class="project-one__content">
                                    <p class="project-one__sub-title">Our Best Projects</p>
                                    <h3 class="project-one__title"><a href="project-details.html">Children of Poor</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <!--Project One Single-->
                        <div class="project-one__single">
                            <div class="project-one__img">
                                <img src="assets/images/project/project-1-4.jpg" alt="">
                                <div class="project-one__content">
                                    <p class="project-one__sub-title">Our Best Projects</p>
                                    <h3 class="project-one__title"><a href="project-details.html">History Of Tibet</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!--Project One Single-->
                        <div class="project-one__single">
                            <div class="project-one__img">
                                <img src="assets/images/project/project-1-5.jpg" alt="">
                                <div class="project-one__content">
                                    <p class="project-one__sub-title">Our Best Projects</p>
                                    <h3 class="project-one__title"><a href="project-details.html">Drought
                                            Information</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Project One End-->

       
<!--Video One Start-->
<section class="video-one">
    <div class="video-one__content-box">
        <div class="video-one-shape sauare-mover"></div>
        <div class="video-one-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%" style="background-image: url(assets/images/backgrounds/video-one-bg.jpg);"></div>
        <div class="container">
            <div class="video-one__inner">
                <div class="video-one__video-link">
                    <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="video-popup">
                        <div class="video-one__video-icon">
                            <span class="fa fa-play"></span>
                            <i class="ripple"></i>
                        </div>
                    </a>
                </div>
                <h3 class="video-one__title">Welcome to Jan Sahyog <br> Together We Empower Lives</h3>
                <p class="video-one__text">Watch how we are bringing hope, dignity, and support <br> to underserved communities across the nation.</p>
                <a href="about.html" class="thm-btn video-one__btn">Watch Full Video</a>
            </div>
        </div>
    </div>
</section>
<!--Video One End-->


             <!--Testimonial One End-->
        <section class="testimonial-one">
            <div class="container">
                <div class="owl-carousel owl-theme thm-owl__carousel testimonial-one__carousel" data-owl-options='{
                    "loop": true,
                    "autoplay": true,
                    "margin": 30,
                    "nav": false,
                    "dots": false,
                    "smartSpeed": 500,
                    "autoplayTimeout": 10000,
                    "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                    "responsive": {
                        "0": {
                            "items": 1
                        },
                        "768": {
                            "items": 2
                        },
                        "991": {
                            "items": 3
                        },
                        "1200": {
                            "items": 3
                        }
                    }
                }'>
                    <!--Testimonial One single-->
                    <div class="testimonial-one__single">
                        <div class="testimonial-one__img">
                            <img src="assets/images/testimonial/testimonial-1-2.jpg" alt="">
                            <div class="testimonial-one__quote">
                                <span class="fas fa-quote-left"></span>
                            </div>
                        </div>
                        <p class="testimonial-one__text">I’ve been supporting Jan Sahyog for over two years. Their dedication to education and healthcare in rural areas is truly inspiring. You can see exactly where your contribution is making a difference."</p>
                        <div class="testimonial-one__client-info">
                            <h4 class="testimonial-one__client-name">Ravi Sharma </h4>
                            <span class="testimonial-one__client-title">donor</span>
                        </div>
                    </div>

                    <!--Testimonial One single-->
                    <div class="testimonial-one__single">
                        <div class="testimonial-one__img">
                            <img src="assets/images/testimonial/testimonial-1-1.jpg" alt="">
                            <div class="testimonial-one__quote">
                                <span class="fas fa-quote-left"></span>
                            </div>
                        </div>
                        <p class="testimonial-one__text">Volunteering with Jan Sahyog changed my perspective on life. The team is passionate, organized, and deeply committed to creating real impact. I’m proud to be part of this journey.</p>
                        <div class="testimonial-one__client-info">
                            <h4 class="testimonial-one__client-name">Sunita Verma</h4>
                            <span class="testimonial-one__client-title">Volunteer</span>
                        </div>
                    </div>

                    <!--Testimonial One single-->
                    <div class="testimonial-one__single">
                        <div class="testimonial-one__img">
                            <img src="assets/images/testimonial/testimonial-1-3.jpg" alt="">
                            <div class="testimonial-one__quote">
                                <span class="fas fa-quote-left"></span>
                            </div>
                        </div>
                        <p class="testimonial-one__text">Working with Jan Sahyog during their health camps has been an enriching experience. Their commitment to underserved communities is unmatched and the outreach is incredibly well-executed</p>
                        <div class="testimonial-one__client-info">
                            <h4 class="testimonial-one__client-name">Dr. Akash Mehta </h4>
                            <span class="testimonial-one__client-title">Medical Partner</span>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--Testimonial End End-->
      <!--Blog One Start-->
<section class="blog-one">
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">Our Blog</span>
            <h2 class="section-title__title">Latest News & Updates</h2>
        </div>
        <div class="row">
            <!-- Blog Item 1 -->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                <div class="blog-one__single">
                    <div class="blog-one__img">
                        <img src="assets/images/blog/blog-1-1.jpg" alt="Children eating during cyclone relief">
                        <a href="blog-details.html">
                            <span class="blog-one__plus"></span>
                        </a>
                    </div>
                    <div class="blog-one__content">
                        <div class="blog-one__meta">
                            <div class="blog-one__cat">
                                <p>DISASTER RELIEF</p>
                            </div>
                            <div class="blgo-one__date">
                                <p><span class="icon-calendar"></span> May 01, 2025</p>
                            </div>
                        </div>
                        <h3 class="blog-one__title">
                            <a href="blog-details.html">Helping Cyclone-Affected Families in Odisha</a>
                        </h3>
                        <p class="blog-one__text">On Children’s Day, Jan Sahyog volunteers brought smiles to the faces of kids by distributing food, clothes, and essential relief materials to cyclone-affected families in Odisha.</p>
                    </div>
                </div>
            </div>

            <!-- Blog Item 2 -->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                <div class="blog-one__single">
                    <div class="blog-one__img">
                        <img src="assets/images/blog/blog-1-2.jpg" alt="Award ceremony for shelter program">
                        <a href="blog-details.html">
                            <span class="blog-one__plus"></span>
                        </a>
                    </div>
                    <div class="blog-one__content">
                        <div class="blog-one__meta">
                            <div class="blog-one__cat">
                                <p>HOMELESS OUTREACH</p>
                            </div>
                            <div class="blgo-one__date">
                                <p><span class="icon-calendar"></span> Apr 18, 2025</p>
                            </div>
                        </div>
                        <h3 class="blog-one__title">
                            <a href="blog-details.html">Recognizing Efforts in Homeless Outreach</a>
                        </h3>
                        <p class="blog-one__text">A special event was organized to honor volunteers and staff for their work in providing shelter, food, and medical support to over 150 street dwellers through our new night-shelter program.</p>
                    </div>
                </div>
            </div>

            <!-- Blog Item 3 -->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                <div class="blog-one__single">
                    <div class="blog-one__img">
                        <img src="assets/images/blog/blog-1-3.jpg" alt="Girls receiving scholarships">
                        <a href="blog-details.html">
                            <span class="blog-one__plus"></span>
                        </a>
                    </div>
                    <div class="blog-one__content">
                        <div class="blog-one__meta">
                            <div class="blog-one__cat">
                                <p>EDUCATION</p>
                            </div>
                            <div class="blgo-one__date">
                                <p><span class="icon-calendar"></span> Apr 04, 2025</p>
                            </div>
                        </div>
                        <h3 class="blog-one__title">
                            <a href="blog-details.html">100 Girls Receive Scholarships This Year</a>
                        </h3>
                        <p class="blog-one__text">As part of our education initiative, 100 underprivileged girls were awarded full scholarships for the 2024–25 academic year, empowering them to pursue their dreams.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Blog One End-->



  <!--Site Footer Start-->
        <footer class="site-footer-one">
            <div class="site-footer-one__top">
                <div class="container">
                    <div class="row">

                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                            <div class="footer-widget__column footer-widget-one__about">
                                <div class="footer-widget-one__about-logo">
                                    <a href="index.html"><img src="assets/images/resources/footer-logo.png" alt=""></a>
                                </div>
                                <p class="footer-widget-one__about-text">
                                    Working together to uplift communities through education, healthcare, and social support. Join us in building a better, more inclusive future for all.
                                </p>
                                <ul class="list-unstyled footer-widget-one__list">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-place"></span>
                                        </div>
                                        <div class="text">
                                            <p>
                                                Regd. Address - Navdiha, Mahavir Colony, Sindur, Hazaribagh, Pincode- 825301, Jharkhand
</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-envelope"></span>
                                        </div>
                                        <div class="text">
                                            <p><a href="mailto:demo@example.com"> jscthazaribagh@gmail.com </a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-call"></span>
                                        </div>
                                        <div class="text">
                                            <p><a href="tel:09969569535">+91 9431901463</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                            <div class="footer-widget__column footer-widget-one__gallery clearfix">
                                <h3 class="footer-widget-one__title">Gallery</h3>
                                <ul class="footer-widget-one__gallery-list list-unstyled clearfix">
                                    <li>
                                        <div class="footer-widget-one__gallery-img">
                                            <img src="assets/images/resources/footer-widget-one-gallery-1.jpg" alt="">
                                            <a href="project-details.html"><span class="fa fa-link"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget-one__gallery-img">
                                            <img src="assets/images/resources/footer-widget-one-gallery-2.jpg" alt="">
                                            <a href="project-details.html"><span class="fa fa-link"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget-one__gallery-img">
                                            <img src="assets/images/resources/footer-widget-one-gallery-3.jpg" alt="">
                                            <a href="project-details.html"><span class="fa fa-link"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget-one__gallery-img">
                                            <img src="assets/images/resources/footer-widget-one-gallery-4.jpg" alt="">
                                            <a href="project-details.html"><span class="fa fa-link"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget-one__gallery-img">
                                            <img src="assets/images/resources/footer-widget-one-gallery-5.jpg" alt="">
                                            <a href="project-details.html"><span class="fa fa-link"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget-one__gallery-img">
                                            <img src="assets/images/resources/footer-widget-one-gallery-6.jpg" alt="">
                                            <a href="project-details.html"><span class="fa fa-link"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget-one__gallery-img">
                                            <img src="assets/images/resources/footer-widget-one-gallery-7.jpg" alt="">
                                            <a href="project-details.html"><span class="fa fa-link"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget-one__gallery-img">
                                            <img src="assets/images/resources/footer-widget-one-gallery-8.jpg" alt="">
                                            <a href="project-details.html"><span class="fa fa-link"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-widget-one__gallery-img">
                                            <img src="assets/images/resources/footer-widget-one-gallery-9.jpg" alt="">
                                            <a href="project-details.html"><span class="fa fa-link"></span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                       <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
    <div class="footer-widget__column footer-widget-one__latest-works clearfix">
        <h3 class="footer-widget-one__title">Latest News</h3>
        <ul class="footer-widget-one__latest-works-list list-unstyled clearfix">
            <li>
                <div class="footer-widget-one__latest-works-content">
                    <h4 class="footer-widget-one__latest-works-title">
                        <a href="news-health-camp.html">Free Health Camp Organized Near DC Office</a>
                    </h4>
                    <p class="footer-widget-one__latest-works-date">
                        May 05, 2025
                    </p>
                </div>
            </li>
            <li>
                <div class="footer-widget-one__latest-works-content">
                    <h4 class="footer-widget-one__latest-works-title">
                        <a href="news-food-drive.html">Distribution of Food Kits to Needy Families</a>
                    </h4>
                    <p class="footer-widget-one__latest-works-date">
                        April 22, 2025
                    </p>
                </div>
            </li>
            <li>
                <div class="footer-widget-one__latest-works-content">
                    <h4 class="footer-widget-one__latest-works-title">
                        <a href="news-education-aid.html">Educational Aid for Underprivileged Children</a>
                    </h4>
                    <p class="footer-widget-one__latest-works-date">
                        April 10, 2025
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>

                       <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
    <div class="footer-widget__column footer-widget-one__google-reviews clearfix">
        <h3 class="footer-widget-one__title">Google Reviews</h3>
        <div class="owl-carousel owl-theme thm-owl__carousel footer-widget-one__google-reviews-content"
            data-owl-options='{
                "loop": true,
                "autoplay": true,
                "margin": 30,
                "nav": false,
                "dots": true,
                "smartSpeed": 500,
                "autoplayTimeout": 10000,
                "responsive": {
                    "0": { "items": 1 },
                    "768": { "items": 1 },
                    "991": { "items": 1 },
                    "1200": { "items": 1 }
                }
            }'>
            <div class="footer-widget-one__google-review-single">
                <p class="footer-widget-one__google-review-text">"Excellent support and service. Jan Sahyog Trust is doing amazing charitable work in Hazaribagh!"</p>
                <div class="footer-widget-one__google-review-bottom">
                    <div class="footer-widget-one__google-review-icon">
                        <span class="fas fa-user-circle"></span>
                    </div>
                    <div class="footer-widget-one__google-review-details">
                        <h5 class="footer-widget-one__google-review-name">Ravi Kumar</h5>
                        <p class="footer-widget-one__google-review-time">2 Days Ago</p>
                    </div>
                </div>
            </div>
            <div class="footer-widget-one__google-review-single">
                <p class="footer-widget-one__google-review-text">"Great experience with their medical support service. Kind and helpful staff."</p>
                <div class="footer-widget-one__google-review-bottom">
                    <div class="footer-widget-one__google-review-icon">
                        <span class="fas fa-user-circle"></span>
                    </div>
                    <div class="footer-widget-one__google-review-details">
                        <h5 class="footer-widget-one__google-review-name">Anjali Singh</h5>
                        <p class="footer-widget-one__google-review-time">1 Week Ago</p>
                    </div>
                </div>
            </div>
            <!-- Add more reviews as needed -->
        </div>
    </div>
</div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="container">
                    <div class="site-footer__bottom-inner">
                        <p class="site-footer__bottom-text">Copyright © 2025 Jan Sahyog Charitable Trust|All Rights Reserved. <a
                                href="https://www.jharkhanditsolutions.com/"> Website Design by Jharkhand IT Solutions</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer End-->



    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image"><img src="assets/images/resources/footer-logo.png"
                        width="155" alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:needhelp@sopot.com"> jscthazaribagh@gmail.com </a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">+91 9431901463</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->
        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-search-interface-symbol"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>


    <script src="assets/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendors/jarallax/jarallax.min.js"></script>
    <script src="assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="assets/vendors/nouislider/nouislider.min.js"></script>
    <script src="assets/vendors/odometer/odometer.min.js"></script>
    <script src="assets/vendors/swiper/swiper.min.js"></script>
    <script src="assets/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="assets/vendors/wow/wow.js"></script>
    <script src="assets/vendors/isotope/isotope.js"></script>
    <script src="assets/vendors/countdown/countdown.min.js"></script>
    <script src="assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="assets/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="assets/vendors/vegas/vegas.min.js"></script>
    <script src="assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="assets/vendors/timepicker/timePicker.js"></script>




    <!-- template js -->
    <script src="assets/js/sopot.js"></script>
</body>

</html>