{% load static %}

<div class="app-sidebar">
    <div class="side-header">
        <a class="header-brand1" href="/home">
            <img src="{% static 'images/logo_rect.png' %}" class="" style="width: 155px; height:100px" alt="logo">
        </a>
    </div>
    <div class="main-sidemenu">
        <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
            </svg></div>
        <ul class="side-menu">
                {% comment %} {% if request.user.is_superuser %} {% endcomment %}
                
               
                
                <li class="slide">
                        <a class="side-menu__item" data-bs-toggle="slide" href="/dashboard"><i class="side-menu__icon fe fe-home"></i><span class="side-menu__label">Dashboard</span></a>
                </li>
                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide"  href="/profile"><i class="side-menu__icon fe fe-slack"></i><span class="side-menu__label">Profile</span></a>
                </li>
                {% comment %} <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="/referring_registration"><i class="side-menu__icon fe fe-slack"></i><span class="side-menu__label">New Referrals </span></a>
                </li> {% endcomment %}

                

                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="/member_tree/{{user.id}}"><i class="side-menu__icon fe fe-slack"></i><span class="side-menu__label">Member Tree</span></a>
                </li>

                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="/earning_withrew"><i class="side-menu__icon fe fe-slack"></i><span class="side-menu__label">Withdrawal </span></a>
                </li>

               <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide" href="/donation_slip/{{user.id}}/register_slip/"><i class="side-menu__icon fe fe-slack"></i><span class="side-menu__label">Slips </span></a>
                </li>

                <li class="slide">
                    <a class="side-menu__item" data-bs-toggle="slide"  href="/logout"><i class="side-menu__icon fe fe-slack"></i><span class="side-menu__label">Logout</span></a>
                </li>

        </ul>
        <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
            </svg></div>
    </div>
</div>
